.cardBox {
    width: 100%;
    padding-left: 15px;
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5px 5px;
}

.card {
    width: 20vw;
    height: 100%;
    justify-content: center;
}

.card-background {
    width: inherit;
    height: inherit;
}

.actionBox {
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: space-around;
}

#standard-basic-input {
    width: 90px;
    text-align: center;
}

.MuiTypography-root {
    min-height: 45px;
}

#buttonAdd {
    width: -webkit-fill-available;
    margin-top: 10px;
    background-color: #019cdf;
    color: white;
    font-weight: bold;
}

.img {
    object-fit: fill;
}

.small-letter {
    font-size: smaller;
}
